################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/node_modules
/package-lock.json
/App_Data/jobs/continuous/EventRelay/node_modules
/App_Data/jobs/continuous/EventRelay/package-lock.json
